@import "../Variables/Variables.scss";

.navbar {
    width: 100%;
    height: 80px;
    background-color:$lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    

}

.navbar a {
    color: $lightgreen;
    font-size: 2rem;
    text-decoration: none;
    font-family: $titleFont;
    margin: .5rem;
}

.navbar .links{
    margin-right: 50px;
}

body {
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    
}